{"openapi":"3.1.0","servers":[{"url":"https://eco.odb.ntu.edu.tw"}],"components":{"schemas":{"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"MHWResponse":{"properties":{"lon":{"type":"number","title":"Lon"},"lat":{"type":"number","title":"Lat"},"date":{"type":"string","format":"date","title":"Date"},"level":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Level"},"sst_anomaly":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Sst Anomaly"},"td":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Td"}},"type":"object","required":["lon","lat","date","level","sst_anomaly","td"],"title":"MHWResponse"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}}},"info":{"title":"Open API of Marine Heatwaves","description":"Marine heatwaves (MHWs) evaluated from 0.25-degree gridded NOAA OISST v2.1, compiled by ODB, Taiwan. \nReference: Jacox, Alexander, Bograd, and Scott (2020), Thermal Displacement by Marine Heatwaves, Nature, 584, 82–86, doi:10.1038/s41586-020-2534-z","version":"1.0.0"},"paths":{"/api/mhw":{"get":{"tags":["Marine Heatwave"],"summary":"Query MHW data as JSON","description":"Query MHW data by longitude/latitude/date (in JSON), providing monthly marine heatwave levels, sea surface temperature (SST), SST anomalies, and thermal displacements at a 0.25° x 0.25° global resolution. See more: https://eco.odb.ntu.edu.tw/pub/MHW\n\n#### Usage\n* One-point MHWs without time-span limitation: e.g. /api/mhw?lon0=135&lat0=15\n* Bounding-box <= 10 x 10 in degrees: 10-years time-span limitation: e.g. /api/mhw?lon0=135&lon1=140&lat0=15&lat1=30&start=2013-01-01 (data from 2013/01/01 to 2022/12/01)\n* Bounding-box > 10 x 10 in degrees: 1-year time-span limitation: e.g. /api/mhw?lon0=135&lon1=150&lat0=15&lat1=30&start=2013-01-01 (data from 2013/01/01 to 2013/12/01)\n* Bounding-box > 90 x 90 in degrees: 1-month time-span limitation: e.g. /api/mhw?lon0=-180&lon1=180&lat0=-90&lat1=90&start=2013-01-01 (data of 2013/01/01)","operationId":"read_mhw_api_mhw_get","parameters":[{"name":"lon0","in":"query","required":true,"schema":{"type":"number","description":"Minimum longitude, range: [-180, 180]","title":"Lon0"},"description":"Minimum longitude, range: [-180, 180]"},{"name":"lat0","in":"query","required":true,"schema":{"type":"number","description":"Minimum latitude, range: [-90, 90]","title":"Lat0"},"description":"Minimum latitude, range: [-90, 90]"},{"name":"lon1","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Maximum longitude, range: [-180, 180]","title":"Lon1"},"description":"Maximum longitude, range: [-180, 180]"},{"name":"lat1","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Maximum latitude, range: [-90, 90]","title":"Lat1"},"description":"Maximum latitude, range: [-90, 90]"},{"name":"start","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Start date of MHWs to query, minimum is 1982-01-01","title":"Start"},"description":"Start date of MHWs to query, minimum is 1982-01-01"},{"name":"end","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"End date of MHWs to query, maximum is one month before the current date","title":"End"},"description":"End date of MHWs to query, maximum is one month before the current date"},{"name":"append","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Data fields to append, separated by commas. Allowed fields: 'sst', 'sst_anomaly', 'level', 'td'","title":"Append"},"description":"Data fields to append, separated by commas. Allowed fields: 'sst', 'sst_anomaly', 'level', 'td'"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MHWResponse"},"title":"Response Read Mhw Api Mhw Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/mhw/csv":{"get":{"tags":["Marine Heatwave"],"summary":"Query MHW data as CSV","description":"Query MHW data by longitude/latitude/date (in csv), providing monthly marine heatwave levels, sea surface temperature (SST), SST anomalies, and thermal displacements at a 0.25° x 0.25° global resolution. See more: https://eco.odb.ntu.edu.tw/pub/MHW\n\n#### Usage\n* One-point MHWs without time-span limitation: e.g. /api/mhw/csv?lon0=135&lat0=15\n* Bounding-box <= 10 x 10 in degrees: 10-years time-span limitation: e.g. /api/mhw/csv?lon0=135&lon1=140&lat0=15&lat1=30&start=2013-01-01 (data from 2013/01/01 to 2022/12/01)\n* Bounding-box > 10 x 10 in degrees: 1-year time-span limitation: e.g. /api/mhw/csv?lon0=135&lon1=150&lat0=15&lat1=30&start=2013-01-01 (data from 2013/01/01 to 2013/12/01)\n* Bounding-box > 90 x 90 in degrees: 1-month time-span limitation: e.g. /api/mhw/csv?lon0=-180&lon1=180&lat0=-90&lat1=90&start=2013-01-01 (data of 2013/01/01)","operationId":"read_mhw_csv_api_mhw_csv_get","parameters":[{"name":"lon0","in":"query","required":true,"schema":{"type":"number","description":"Minimum longitude, range: [-180, 180]","title":"Lon0"},"description":"Minimum longitude, range: [-180, 180]"},{"name":"lat0","in":"query","required":true,"schema":{"type":"number","description":"Minimum latitude, range: [-90, 90]","title":"Lat0"},"description":"Minimum latitude, range: [-90, 90]"},{"name":"lon1","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Maximum longitude, range: [-180, 180]","title":"Lon1"},"description":"Maximum longitude, range: [-180, 180]"},{"name":"lat1","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Maximum latitude, range: [-90, 90]","title":"Lat1"},"description":"Maximum latitude, range: [-90, 90]"},{"name":"start","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Start date of MHWs to query, minimum is 1982-01-01","title":"Start"},"description":"Start date of MHWs to query, minimum is 1982-01-01"},{"name":"end","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"End date of MHWs to query, maximum is one month before the current date","title":"End"},"description":"End date of MHWs to query, maximum is one month before the current date"},{"name":"append","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Data fields to append, separated by commas. Allowed fields: 'sst', 'sst_anomaly', 'level', 'td'","title":"Append"},"description":"Data fields to append, separated by commas. Allowed fields: 'sst', 'sst_anomaly', 'level', 'td'"}],"responses":{"200":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}}}
